@{
    ViewBag.Title = "关于芮卡";
}

<hgroup class="title">
    <h1>关于芮卡</h1>
    <h4>河北芮卡文化传媒有限责任公司简介</h4>
</hgroup>

<article class="well" style="text-indent:2em;line-height:30px;">
    <p>
        河北芮卡文化传媒有限责任公司是在中国动漫产业发展日新月异、数字出版与动漫多媒体教育大发展的开端之际，于2012年10月,为《小鹿芮卡原创动漫项目》品牌化进一步发展壮大而组建成立的。
    </p>

    <p>
        “小鹿芮卡”作为我们自主研发的原创动漫项目，从2005年迄今，稳扎稳打一步步走来，业已成为我国幼教行业正在冉冉升起的一颗新星。正如国内多家媒体所报道的那样：《小鹿芮卡原创动漫项目》之所以能够获得由国家文化部、国家广电总局和新闻出版总署联合启动的“2011国家重点动漫精品项目”之殊荣，是因为“小鹿芮卡”一开始便以“立足儿童启蒙教育，打造芮卡动漫品牌”为宗旨，借助动漫多媒体教育产品的入市，从多角度来锻造动漫品牌的一个可操作项目。“她”不仅另辟了国内动漫产业常规操作思路以外的一条蹊径，也率先吹响了中国“动漫教育”的第一支号角！
    </p>

</article>