@{
    ViewBag.Title = "联系我们";
}


<article class="well" style="line-height:30px;">

    <section class="contact">
        <header>
            <h3>客服中心</h3>
        </header>
        <p>
            华北区电话：13315109556 QQ：1265681238
        </p>
        <p>
            东北区电话：13315107980 QQ：2595484149

        </p>
        <p>
            华东区电话：13315109556  QQ：2194686466
        </p>
        <p>
            中南区电话：13315108798  QQ：2570516097
        </p>
        <p>
            投诉部电话：400-6608365  QQ：244637808
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>河北芮卡文化传媒有限责任公司</h3>
        </header>
        <p>
            <span>联系电话:</span>
            <span>0311-69835588</span>
        </p>
        <p>
            <span>传真:</span>
            <span>0311-85900735</span>
        </p>
        <p>
            <span>网址:</span>
            <span>www.ruika365.cn</span>
        </p>
        <p>
            <span>E-mail:</span>
            <span><a href="ruika365@163.com">ruika365@163.com</a></span>
        </p>
        <p>
            <span>芮卡事业部在线QQ:</span>
            <span>905903030 手机：18032780255</span>
        </p>
        <p>
            <span>幼教推广部在线QQ</span>
            <span>953544800</span>
        </p>
        <p>
            <span>品牌图书部在线QQ</span>
            <span>2279953446</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>地址</h3>
        </header>
        <p>
            河北.石家庄.新华区.联盟路705号
        </p>
    </section>
</article>

