@{
    ViewBag.Title = "游戏中心";
    Layout = "~/Views/Shared/_Mobile2.cshtml";
}
<div style="height:20px;">
</div>
<article class="well text-center" style="line-height:30px;min-height:300px;">
    <h2>
        芮卡游戏
    </h2>

    <p>
        暂未开放，敬请期待！
    </p>

</article>
<div style="height:20px;">
</div>
<footer class="navbar-fixed-bottom">
    <div class="text-right">
        <img src="~/Images/logo_trans.png" />
    </div>
</footer>