@{
    ViewBag.Title = "帮助中心";
    Layout = "~/Views/Shared/_Mobile2.cshtml";
}
<style type="text/css">
    body {
    letter-spacing:3px;
    font-size:14px;
     line-height:25px;
    }
    p {
        color:#808080;
        font-weight:bold;
        
    }
    .title{
        color:#01B554; 
    }

</style>
<div style="height:20px;"></div>
<strong class="title">
    1.如何下载安装 “芮卡家园” ？
</strong>
<p>扫描下方二维码进行下载安装</p>
<p class="text-left"><img src="~/images/appdown.png" style="width:150px;" /></p>
<div style="height:20px;"></div>
<strong class="title">
    2.首次登录为什么接收不到验证码？
</strong>
<p>需要您正在使用的手机SIM卡与您登录 “芮卡家园” 的账号一致才能正常接收。如果不一致，您是收不到验证码的。</p>

<div style="height:20px;"></div>
<strong class="title">
    3.如何修改个人昵称？
</strong>
<p>登录 “芮卡家园” ，点击右下角 “我” ，再点击顶部 “个人资料” 处，进入 “个人消息” ，再点击 “昵称” ，进入 “修改昵称” 页面，即可进行昵称修改。
</p>

<div style="height:20px;"></div>
<strong class="title">
    4.忘记密码了怎么办？
</strong>
<p>
        在登录界面有找回密码的功能，用户可以通过绑定的手机重置密码。
</p>