@using CheFuZi.Function
@{
    ViewBag.Title = "芮卡家园";
    ViewBag.httpUrl = StaticVarClass.myDomain + "/Service";
    ViewBag.WebUrl = StaticVarClass.myDomain;
}
<div style="height:20px;">
</div>
<h2 class="text-center">
    芮卡家园APP下载
</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center" style="line-height:30px;min-height:300px;padding:10px;">
            <div class="row">
                <div class="col-xs-6 text-center" style="height:530px;min-width:300px;"><img src="~/images/index_cover.jpg" style="width:270px;" /></div>
                <div class="col-xs-6 text-center well" style="height:530px;min-width:300px;">
                    <img src="~/images/appdown.png" style="max-width:200px;" />
                    <p>海量、优质、原创的幼儿资源；</p>
                    <p>
                        全方位、专业化的课程培训视频；
                    </p>
                    <p> 精彩、有趣、个性的录音功能。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:20px;">
</div>

